<persistence-unit name="JEETut3" transaction-type="RESOURCE_LOCAL">
    <class>com.order.OrderApplication</class>
    <properties>
        <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
        <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/test4"/>
        <property name="javax.persistence.jdbc.user" value="adminSonal"/>
        <property name="javax.persistence.jdbc.password" value="adminSonal!"/>
        <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
        <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
</persistence-unit>